<div class="Register_Main">
  <div><h1>Sign Up</h1></div>
  <form [formGroup]="userForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
        required
      />
      <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
        ❌ Password must be at least 6 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" required />
      <mat-error *ngIf="userForm.get('email')?.hasError('email')">
        ❌ Invalid email format. Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" required />
    </mat-form-field>

    <div class="Button_Group">
      <button mat-raised-button color="primary" (click)="signUp()">
        Confirm
      </button>
      <button mat-raised-button color="warn" (click)="closeDialog()">
        Close
      </button>
    </div>
  </form>
  <h3 class="Error_Message mt-2" *ngIf="messageServer?.length">
    * {{ messageServer }}
  </h3>
</div>
