<div class="Register_Main">
  <div>
    <h1>{{ "account.register" | translate }}</h1>
  </div>
  <form [formGroup]="userForm">
    <mat-form-field>
      <mat-label>{{ "account.username" | translate }}</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "account.password" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'account.password' | translate"
        formControlName="password"
        type="password"
        required
      />
      <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
        ❌ {{ "account.passwordMinLength" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "account.firstName" | translate }}</mat-label>
      <input matInput formControlName="first_name" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "account.lastName" | translate }}</mat-label>
      <input matInput formControlName="last_name" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "contact.email" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'contact.email' | translate"
        formControlName="email"
        required
      />
      <mat-error *ngIf="userForm.get('email')?.hasError('email')">
        ❌ {{ "contact.emailInvalid" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "contact.phone" | translate }}</mat-label>
      <input matInput formControlName="phone" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "contact.address" | translate }}</mat-label>
      <input matInput formControlName="address" required />
    </mat-form-field>

    <div class="Button_Group">
      <button mat-raised-button color="primary" (click)="signUp()">
        {{ "account.confirm" | translate }}
      </button>
      <button mat-raised-button color="warn" (click)="closeDialog()">
        {{ "common.close" | translate }}
      </button>
    </div>
  </form>
  <h3 class="Error_Message mt-2" *ngIf="messageServer?.length">
    * {{ messageServer }}
  </h3>
</div>
