.Section1_Main {
  margin-top: 7%;
  font-size: 20px;
}

.Section1_contentText {
  font-size: 19px;
  word-break: break-word; /* Ensures words wrap properly */
  direction: ltr; /* Left-to-right text flow */
  text-align: left; /* Aligns text to the left */
  max-width: 50%; /* Limits width to make text wrap into multiple rows */
  line-height: 1.6; /* Improves readability by increasing spacing */
}

.BB {
  font-family: "Open Sans", Sans-serif;
  text-indent: 20px;
  font-size: 40px;
}
.HH {
  margin-left: 5%;
  text-align: left !important;
}
.elementor-widget-container {
  text-align: center;
}
.Title {
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: bold;
  margin-bottom: 3%;
  font-size: 100%;
  color: #34b814;
  margin-right: 5%;
  text-shadow: 1px 1px 2px rgb(166, 165, 165), 0 0 1em grey,
    0 0 0.2em rgb(164, 164, 164);
}
