<div class="row Section1_Main m-5">
  <div class="col-7 Section1_contentText">
    <div class="elementor-widget-wrap elementor-element-populated hshs">
      <div
        class="elementor-element elementor-element-c1d3bbe section-title elementor-widget elementor-widget-heading animated fadeIn"
        data-id="c1d3bbe"
        data-element_type="widget"
        data-settings='{"_animation":"fadeIn"}'
        data-widget_type="heading.default"
      >
        <div class="elementor-widget-container">
          <h1 class="elementor-heading-title BB elementor-size-default">
            <span class="Title"><strong>About us</strong></span>
          </h1>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-514a817 elementor-widget elementor-widget-text-editor animated fadeIn"
        data-id="514a817"
        data-element_type="widget"
        data-settings='{"_animation":"fadeIn"}'
        data-widget_type="text-editor.default"
      >
        <div class="elementor-widget-container HH">
          <h1 style="font-weight: bold" The Fog Bank>Who We Are</h1>
          <p style="font-weight: bold; color: #34b814">The Fog Bank</p>
          <h4>
            we are passionate about providing high-quality vaping products to
            our customers. Our mission is to bring you the latest innovations in
            the vaping industry while ensuring safety, satisfaction, and
            excellence in every product we offer.
          </h4>
          <h2>What We Offer</h2>

          <h4>
            ✔️ A wide selection of high-quality vape products <br />
            ✔️ Top brands known for reliability and performance<br />
            ✔️ Competitive prices with exclusive deals<br />
            ✔️ Fast & secure shipping for a seamless shopping experience<br />
            ✔️ Customer-focused support to assist you every step of the way
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <img
      width="552"
      height="432"
      [src]="apiUrl + '/assets/KYStore.jpg'"
      class="attachment-large size-large"
      alt=""
      loading="lazy"
      srcset="assets/KYStore.jpg 552w, assets/KYStore.jpg 300w"
      sizes="(max-width: 552px) 100vw, 552px"
    />
  </div>
</div>
