<!-- Store Images Section -->
<div class="row Section1_Main mx-3 mx-md-5 my-5">
  <!-- Left Text Content -->
  <div class="col-12 col-lg-7 Section1_contentText">
    <div class="elementor-widget-wrap elementor-element-populated">
      <div class="elementor-widget-container">
        <h1 class="elementor-heading-title BB elementor-size-default">
          <span class="Title">
            <strong>{{ "home.aboutUs" | translate }}</strong>
          </span>
        </h1>
      </div>

      <div class="elementor-widget-container HH">
        <h1 class="about-heading">{{ "home.whoWeAre" | translate }}</h1>
        <p class="brand-name">{{ "home.aboutUsStoreName" | translate }}</p>
        <h4 class="about-description">
          {{ "home.aboutUsContent" | translate }}
        </h4>
        <h2 class="offer-heading">
          {{ "home.aboutUsOferTitle" | translate }}
        </h2>
        <h4
          class="offer-list"
          [innerHTML]="'home.aboutUsOferContent' | translate"
        ></h4>
      </div>
    </div>
  </div>

  <!-- Right Images Content -->
  <div class="col-12 col-lg-5 mt-4 mt-lg-0 Images">
    <div class="row g-3 justify-content-center">
      <!-- Image Card -->
      <div class="col-12 col-sm-4">
        <div class="store-card">
          <img
            src="assets/IbOut.jpg"
            alt="Ibillin Store"
            class="store-image"
            loading="lazy"
          />
          <p class="store-label">Ibillin</p>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="store-card">
          <img
            src="assets/KyOut.jpg"
            alt="Kfar Yassif Store"
            class="store-image"
            loading="lazy"
          />
          <p class="store-label">Kfar Yassif</p>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="store-card">
          <img
            src="assets/ShefaamOut.jpg"
            alt="Shefa`mer Store"
            class="store-image"
            loading="lazy"
          />
          <p class="store-label">Shefa`mer</p>
        </div>
      </div>
    </div>
  </div>
</div>
