<div class="Login_Main">
  <div><h1>Login</h1></div>
  <div>
    <div mat-dialog-content>
      <p>username</p>
      <mat-form-field appearance="fill">
        <mat-label>username</mat-label>
        <input matInput [(ngModel)]="username" />
      </mat-form-field>
    </div>
    <div mat-dialog-content>
      <p>password</p>
      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput [(ngModel)]="password" />
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-raised-button (click)="login()">login</button>

    <button mat-button class="mr-2" (click)="openDialog()">sign up</button>
  </div>
  <div *ngIf="loginFailed" class="mt-2" style="color: red">
    {{ loginFailed }}
  </div>
</div>
