<div
  class="Contact_Container"
  [ngClass]="{
    'hebrew-layout': languageService.getCurrentLanguage().code === 'he'
  }"
>
  <!-- Left Side - Contact Info -->
  <div class="Contact_Info">
    <h1 class="contact-heading">{{ "contact.getInTouch" | translate }}</h1>
    <p class="contact-subheading">
      {{ "contact.haveQuestions" | translate }}
    </p>

    <div class="contact-details-row">
      <div class="Contact_Detail location-details">
        <div class="detail-icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="detail-text">
          <span>{{ "home.addressIb" | translate }}</span>
          <span>{{ "home.addressKy" | translate }}</span>
          <span>{{ "home.addressSh" | translate }}</span>
        </div>
      </div>

      <div class="Contact_Detail phone-details">
        <div class="detail-icon">
          <i class="fas fa-phone"></i>
        </div>
        <div class="detail-text">
          <span>{{ "home.phoneIb" | translate }}</span>
          <span>{{ "home.phoneKy" | translate }}</span>
          <span>{{ "home.phoneSh" | translate }}</span>
        </div>
      </div>
    </div>

    <div class="Contact_Detail email-detail">
      <div class="detail-icon">
        <mat-icon fontIcon="mail"></mat-icon>
      </div>
      <div class="detail-text">
        <h4>Itubevaporart@gmail.com</h4>
      </div>
    </div>

    <!-- Social Media Links -->
    <div class="Social_Media">
      <a href="https://www.facebook.com/vaping.arab.14"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com/the.fogbank/"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        href="https://wa.me/972509727006?text=Hi%2C%20I%20saw%20your%20website%21"
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
      >
        <i class="fab fa-whatsapp icon"></i>
      </a>
    </div>
  </div>

  <!-- Right Side - Contact Form -->
  <div class="Contact_Form">
    <form (ngSubmit)="onSubmit()">
      <div class="Input_Group">
        <input
          type="text"
          [(ngModel)]="name"
          name="name"
          [placeholder]="'contact.name' | translate"
          required
        />
      </div>
      <div class="Input_Group">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          [placeholder]="'contact.email' | translate"
          required
        />
      </div>
      <div class="Input_Group">
        <textarea
          [(ngModel)]="message"
          name="message"
          [placeholder]="'contact.message' | translate"
          required
        ></textarea>
      </div>
      <button type="submit" class="Send_Button">
        {{ "contact.send" | translate }}
      </button>
    </form>
  </div>
</div>
