<footer class="Main_BottomSide">
  <div class="footer-content">
    <div class="ICONS">
      <a href="#" class="social-link">
        <mat-icon class="icon">facebook</mat-icon>
      </a>
      <a href="#" class="social-link">
        <mat-icon class="icon">sms</mat-icon>
      </a>
      <a href="#" class="social-link">
        <mat-icon class="icon">phone_in_talk</mat-icon>
      </a>
      <a href="#" class="social-link">
        <mat-icon class="icon">mail</mat-icon>
      </a>
    </div>
    <div class="BottomSentence">
      <h4>All rights reserved © Helal Ali</h4>
    </div>
  </div>
</footer>
