<footer class="Main_BottomSide">
  <div class="footer-content">
    <div class="ICONS">
      <a href="https://www.facebook.com/helaljoker" class="social-link">
        <mat-icon class="icon">facebook</mat-icon>
      </a>
      <a
        href="https://www.instagram.com/helal_ali1/"
        class="social-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-instagram icon"></i>
      </a>

      <a
        href="https://wa.me/972543596761?text=Hi%2C%20I%20saw%20your%20website%21"
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
      >
        <i class="fab fa-whatsapp icon"></i>
      </a>
    </div>
    <div class="BottomSentence">
      <h4>All rights reserved © Helal Ali - 0543596761</h4>
    </div>
  </div>
</footer>
