<nav class="navbar navbar-light bg-light">
  <div class="container-fluid Nav_Container">
    <!-- First Row: Logo (Left) and Login (Right) -->
    <div class="Left_Container">
      <a class="Logo_Container" href="/">
        <img class="Logo" [src]="apiUrl + '/assets/logo.jpg'" alt="Logo" />
        <div class="Website_Name">
          <div>The Fog</div>
          <div>Bank</div>
        </div>
      </a>
    </div>

    <!-- Center - Search Bar -->
    <div class="Center_Container">
      <div class="Search_Bar">
        <input
          type="text"
          [(ngModel)]="searchValue"
          [placeholder]="'search.placeholder' | translate"
          class="Search_Input"
          (input)="searchProducts()"
          (focus)="searchProducts()"
          (blur)="hideSearch()"
        />
        <mat-icon class="Search_Icon" fontIcon="search"></mat-icon>

        <!-- Search Results Dropdown -->
        <div class="Search_Results" *ngIf="isSearchVisible">
          <div
            *ngFor="let product of searchResults"
            class="Search_Item"
            (click)="searchValue = product.name; isSearchVisible = false"
            [routerLink]="['/product', product._id]"
          >
            <img
              *ngIf="product"
              [src]="getProductImage(product)"
              (error)="onImageError($event, product)"
              alt="{{ product.name }}"
              class="Search_Item_Image"
            />
            <span class="Search_Item_Text">{{ product?.name }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Side - Login -->
    <div class="Login_Container">
      <app-language-selector></app-language-selector>
      <div *ngIf="token" class="LoginDiv">
        <span class="welcome-text"
          >{{ "common.welcome" | translate }}, {{ this.firstName }}</span
        >
        <span class="sign-out-text" (click)="logOut()">{{
          "common.signOut" | translate
        }}</span>
        <img
          class="LoginImage"
          [src]="apiUrl + '/assets/exit.svg'"
          width="16"
          height="16"
          (click)="logOut()"
          style="cursor: pointer"
        />
      </div>
      <div *ngIf="!token" class="LoginDiv">
        <span class="login-text" (click)="openDialog()">{{
          "common.login" | translate
        }}</span>
        <img
          class="LoginImage"
          [src]="apiUrl + '/assets/log-in.png'"
          width="16"
          height="16"
          (click)="openDialog()"
          style="cursor: pointer"
        />
      </div>
    </div>

    <!-- Bottom - Navbar Links -->
    <div class="Nav_Links">
      <a class="navbar-brand nav-item" href="/">
        <div class="nav-icon-container">
          <mat-icon class="nav-icon" fontIcon="home"></mat-icon>
          <span class="nav-text">{{ "common.home" | translate }}</span>
        </div>
      </a>

      <!-- Products Dropdown -->
      <div
        class="Dropdown"
        (mouseenter)="showCategories()"
        (mouseleave)="delayedHideCategories()"
        (click)="toggleCategoriesOnMobile($event)"
      >
        <!-- Changed to div with no href and added preventDefault in the click handler -->
        <div
          class="navbar-brand nav-item DropButton"
          (click)="$event.preventDefault()"
        >
          <div class="nav-icon-container">
            <i class="fas fa-smoking nav-icon Cigarette_Icon"></i>
            <span class="nav-text">{{ "common.products" | translate }}</span>
          </div>
        </div>

        <!-- Dropdown Menu -->
        <div
          class="Category_Section"
          [ngClass]="{ show: isCategoriesVisible }"
          (mouseenter)="showCategories()"
          (mouseleave)="delayedHideCategories()"
        >
          <div class="Category_Header">
            <h4>{{ "common.categories" | translate }}</h4>
            <a
              href="/products"
              class="View_All_Link"
              (click)="filterProducts('', '')"
              >{{ "common.viewAll" | translate }}</a
            >
          </div>
          <div class="Category_Grid">
            <div
              *ngFor="let category of categories"
              class="Category_Item"
              (mouseenter)="showLabels(category.name)"
              (mouseleave)="hideLabels()"
            >
              <!-- Image -->
              <img
                [src]="apiUrl + '/assets/categories/' + category.name + '.jpg'"
                alt="{{ category.name }}"
                class="Search_Item_Image"
                (click)="
                  filterByCategory(category.name);
                  isCategoriesVisible = false;
                  $event.preventDefault()
                "
                (error)="onImageCateError($event)"
                style="cursor: pointer"
              />

              <!-- Text -->
              <a
                (click)="
                  filterByCategory(category.name);
                  isCategoriesVisible = false;
                  $event.preventDefault()
                "
                class="Category_Text"
                style="cursor: pointer"
              >
                {{ category.name }}
              </a>
            </div>
          </div>
          <div class="Category_Footer">
            <button
              class="Close_Categories_Button"
              (click)="hideCategoriesOnMobile($event)"
            >
              {{ "common.close" | translate }}
            </button>
          </div>
        </div>
      </div>

      <a
        *ngIf="token"
        class="navbar-brand nav-item cart-container"
        href="/cart"
      >
        <div class="nav-icon-container">
          <div class="cart-icon-wrapper">
            <mat-icon
              class="nav-icon cart-icon"
              fontIcon="shopping_cart"
            ></mat-icon>
            <span *ngIf="getTotalCartItems() > 0" class="cart-badge">
              {{ getTotalCartItems() }}
            </span>
          </div>
          <span class="nav-text">{{ "common.cart" | translate }}</span>
        </div>
      </a>

      <a class="navbar-brand nav-item" href="/profile">
        <div class="nav-icon-container">
          <i class="fas fa-user nav-icon Profile_Icon"></i>
          <span class="nav-text">{{ "common.profile" | translate }}</span>
        </div>
      </a>

      <a class="navbar-brand nav-item" href="/contactUs">
        <div class="nav-icon-container">
          <mat-icon class="nav-icon" fontIcon="mail"></mat-icon>
          <span class="nav-text">{{ "common.contact" | translate }}</span>
        </div>
      </a>

      <a class="navbar-brand nav-item" href="/aboutUs">
        <div class="nav-icon-container">
          <mat-icon class="nav-icon" fontIcon="info"></mat-icon>
          <span class="nav-text">{{ "common.about" | translate }}</span>
        </div>
      </a>
    </div>
  </div>
</nav>
