<h2>Edit Product</h2>

<div class="form-container">
  <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Product Name</label>
      <input type="text" formControlName="name" readonly />
    </div>

    <div class="form-group">
      <label>Brand</label>
      <input type="text" formControlName="brand" required />
    </div>

    <div class="form-group">
      <label>Category</label>
      <select formControlName="category" required>
        <option *ngFor="let cat of categoriesList" [value]="cat._id">
          {{ cat.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="number" formControlName="price" required />
    </div>

    <div class="form-group">
      <label>Quantity</label>
      <input type="number" formControlName="quantity" required />
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea formControlName="description" required></textarea>
    </div>

    <div class="form-group">
      <label>Product Image</label>
      <input type="file" (change)="onFileSelected($event)" />
      <img *ngIf="previewImage" [src]="previewImage" class="preview-img" />
    </div>

    <!-- Colors Section -->
    <div class="form-group">
      <label>Add Color</label>
      <input type="text" #colorInput placeholder="Color name" />
      <input type="number" #quantityInput placeholder="Quantity" />
      <input type="file" #colorFileInput accept="image/*" />
      <button
        type="button"
        (click)="addColor(colorInput, quantityInput, colorFileInput)"
      >
        Add
      </button>
    </div>

    <!-- Colors List -->
    <div class="form-group" *ngIf="colorArray.length > 0">
      <h3>Colors</h3>
      <div
        *ngFor="let colorCtrl of colorArray.controls; let i = index"
        [formGroup]="getColorFormGroup(colorCtrl)"
      >
        <span
          [style.backgroundColor]="colorCtrl.value.color"
          class="color-circle"
        ></span>
        <input class="mt-2" type="text" formControlName="color" required />
        <input class="mt-2" type="number" formControlName="quantity" required />
        <button class="mt-2" type="button" (click)="removeColor(i)">❌</button>
      </div>
    </div>

    <button type="submit">Update Product</button>
    <button
      type="button"
      class="ml-4"
      style="background-color: red"
      (click)="cancel()"
    >
      Cancel
    </button>
  </form>
</div>
