/* Contact Us Page Background */
.contactUs {
  background: url("../../../assets/contact.jpg") no-repeat center center/cover;
  height: 100vh; /* Full height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  position: relative;
}

/* Adding a Dark Overlay for better readability */
.contactUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
}
.content {
  z-index: 1;
  width: 90%;
}

.Contact_Title {
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: bold;
  font-size: 236%;
  margin-bottom: 3%;
  font-size: 330%;
  color: #cc00ff;
  margin-right: 5%;
  text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 0.2em grey;
}
.Contact_Contain {
  border: solid black 7px !important;
  border-radius: 4%;
  width: 70%;
  margin-left: 15%;
}
