<nav class="navbar navbar-light bg-light">
  <div class="container-fluid Nav_Container">
    <!-- Left Side - Logo & Search Bar -->
    <div class="Left_Container">
      <a class="Logo_Container" href="/">
        <img class="Logo" [src]="apiUrl + '/assets/logo.jpg'" alt="Logo" />
        <span class="Website_Name">The Fog Bank</span>
      </a>

      <!-- Search Bar -->
      <div class="Search_Bar">
        <input
          type="text"
          [(ngModel)]="searchValue"
          placeholder="Search..."
          class="Search_Input"
          (input)="searchProducts()"
          (focus)="searchProducts()"
          (blur)="hideSearch()"
        />
        <mat-icon class="Search_Icon" fontIcon="search"></mat-icon>

        <!-- Search Results Dropdown -->
        <div class="Search_Results" *ngIf="isSearchVisible">
          <div
            *ngFor="let product of searchResults"
            class="Search_Item"
            (click)="searchValue = product.name; isSearchVisible = false"
            [routerLink]="['/product', product._id]"
          >
            <img
              *ngIf="product"
              [src]="getProductImage(product)"
              alt="{{ product.name }}"
              (error)="onImageError($event, product)"
              alt="{{ product?.name || 'No Image Available' }}"
              class="Search_Item_Image"
              width="100px"
              height="100px"
              [routerLink]="['/product', product._id]"
            />
            <span class="Search_Item_Text">{{ product.name }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Center - Navbar Links -->
    <div class="Nav_Links">
      <a class="navbar-brand" href="/products">
        <i class="fas fa-smoking Cigarette_Icon"></i> Products
      </a>

      <a class="navbar-brand" href="/addProduct">
        <i class="fas fa-plus"></i> Add Product
      </a>
      <a class="navbar-brand" href="/productManagment">
        <i class="fas fa-boxes"></i>

        Product Managment
      </a>
      <a class="navbar-brand" href="/topProducts">
        <i class="fas fa-trophy"></i>
        Top Products
      </a>
      <a class="navbar-brand" href="/report">
        <i class="fas fa-chart-bar"></i>
        Report
      </a>

      <a class="navbar-brand" href="/category">
        <i class="fas fa-folder"></i>
        Categories
      </a>
    </div>

    <!-- Right Side - Login -->
    <div class="Login_Container">
      <div *ngIf="token" class="LoginDiv">
        <a class="navbar-brand ml-2">Sign Out</a>
        <img
          class="LoginImage"
          [src]="apiUrl + '/assets/exit.svg'"
          width="16"
          height="16"
          (click)="logOut()"
          style="cursor: pointer"
        />
      </div>
      <div *ngIf="!token" class="LoginDiv">
        <a class="navbar-brand">Login</a>
        <img
          class="LoginImage"
          [src]="apiUrl + '/assets/log-in.png'"
          width="16"
          height="16"
          (click)="openDialog()"
          style="cursor: pointer"
        />
      </div>
    </div>
  </div>
</nav>
