<div class="Section2_Main">
  <h1 class="mt-5 Section2_Title">{{ "common.categories" | translate }}</h1>
  <div class="Section2_Grid">
    <div *ngFor="let c of cate; let i = index" class="category-item-wrapper">
      <div class="Section2_Content">
        <div class="Category_Story" (click)="filterByCategory(c.name)">
          <div class="image-container">
            <img
              [src]="apiUrl + '/assets/categories/' + c.name + '.jpg'"
              class="Category_Image"
              alt="{{ c.name }} Image"
              (error)="onImageError($event)"
            />
          </div>
          <h4 class="Category_Name">{{ c.name }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
