<div class="Products_Container">
  <app-bulk-sale></app-bulk-sale>

  <h2 class="Products_Title">{{ "products.allProducts" | translate }}</h2>

  <div class="Filter_Bar">
    <div class="Search_Wrapper">
      <input
        type="text"
        [(ngModel)]="searchValue"
        (input)="searchProducts()"
        [placeholder]="'search.placeholder' | translate"
        class="Search_Input"
      />
      <i class="fas fa-search Search_Icon"></i>
    </div>

    <!-- Sort By Dropdown -->
    <div class="Sort_Container">
      <label for="sortBy">{{ "products.sortBy" | translate }}:</label>
      <select [(ngModel)]="sortBy" id="sortBy" (change)="changeSorting()">
        <option value="name">{{ "products.name" | translate }}</option>
        <option value="price">
          {{ "products.priceLowToHigh" | translate }}
        </option>
        <option value="price_desc">
          {{ "products.priceHighToLow" | translate }}
        </option>
        <option *ngIf="isAdmin" value="stock">
          {{ "products.stockLowToHigh" | translate }}
        </option>
        <option *ngIf="isAdmin" value="stock_desc">
          {{ "products.stockHighToLow" | translate }}
        </option>
      </select>
    </div>

    <div class="Sort_Container">
      <label for="categoryFilter">{{ "products.category" | translate }}:</label>
      <select [(ngModel)]="selectedCategory" (change)="filterByCategory()">
        <option *ngFor="let category of categories" [value]="category">
          {{ category === "All" ? ("products.all" | translate) : category }}
        </option>
      </select>
    </div>

    <div class="Sort_Container">
      <label for="brandFilter">{{ "products.brand" | translate }}:</label>
      <select
        [(ngModel)]="selectedBrand"
        id="brandFilter"
        (change)="filterByBrand()"
      >
        <option *ngFor="let brand of brands" [value]="brand">
          {{ brand === "All" ? ("products.all" | translate) : brand }}
        </option>
      </select>
    </div>
  </div>

  <div class="Product_Grid">
    <div *ngFor="let product of products" class="Product_Card">
      <div class="Product_Card_Content">
        <div
          *ngIf="product.quantity < 5"
          class="Stock_Badge"
          [ngClass]="{
            Out_Of_Stock: product.quantity === 0,
            Low_Stock: product.quantity > 0
          }"
        >
          {{
            product.quantity === 0
              ? ("products.outOfStock" | translate)
              : ("products.lowStock" | translate)
          }}
        </div>

        <div class="Product_Details">
          <div [routerLink]="['/product', product._id]">
            <img
              [src]="getProductImage(product)"
              (error)="onImageError($event, product)"
              alt="{{ product.name }}"
              class="Product_Image"
            />
            <h5 class="Product_Name">{{ product.name }}</h5>

            <div class="Product_Info">
              <p class="Product_Brand">{{ product.brand }}</p>
              <span class="Separator">|</span>
              <p class="Product_Price">
                <!-- Show old price if there's a sale and the price is different -->
                <span
                  *ngIf="
                    isCurrentlyOnSale(product.sale) &&
                    product.price !== product.sale.salePrice
                  "
                  class="old-price"
                >
                  {{ product.price }} ₪
                </span>

                <!-- Show sale price if there's a sale and price is different -->
                <span
                  *ngIf="
                    isCurrentlyOnSale(product.sale) &&
                    product.price !== product.sale.salePrice
                  "
                  class="sale-price"
                >
                  {{ product.sale.salePrice }} ₪
                </span>

                <!-- If there's no sale or price is the same, show only one price -->
                <span
                  *ngIf="
                    !isCurrentlyOnSale(product.sale) ||
                    product.price === product.sale.salePrice
                  "
                >
                  {{ product.price }} ₪
                </span>
              </p>
            </div>
            <h5
              *ngIf="
                isCurrentlyOnSale(product.sale) &&
                product.price !== product.sale.salePrice
              "
            >
              * {{ "products.saleEnds" | translate }}:
              {{ product.sale.saleEndDate | date : "mediumDate" }}
            </h5>
            <h5
              *ngIf="
                !isCurrentlyOnSale(product.sale) &&
                product.price !== product.sale.salePrice
              "
            >
              <br />
            </h5>
          </div>
          <button
            class="View_Button"
            [ngClass]="{ Unavailable_Button: product.quantity === 0 }"
            [disabled]="product.quantity === 0"
            (click)="addToTopProducts(product._id)"
            *ngIf="isAdmin"
          >
            {{ "products.addToTopProducts" | translate }}
          </button>
          <button
            class="View_Button"
            [ngClass]="{ Unavailable_Button: product.quantity === 0 }"
            [disabled]="product.quantity === 0"
            (click)="openQuantityDialog(product)"
            *ngIf="!isAdmin"
          >
            {{
              product.quantity === 0
                ? ("products.outOfStock" | translate)
                : product.isInCart
                ? ("products.edit" | translate)
                : ("products.addToCart" | translate)
            }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 📌 Pagination -->
  <div class="Pagination">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
      {{ languageService.getDirection() === "rtl" ? "➡" : "⬅" }}
      {{ "products.prev" | translate }}
    </button>
    <input
      type="range"
      min="1"
      [max]="totalPages"
      [(ngModel)]="currentPage"
      (change)="loadProducts()"
    />
    <span
      >{{ "products.page" | translate }} {{ currentPage }}
      {{ "products.of" | translate }} {{ totalPages }}</span
    >
    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      {{ "products.next" | translate }}
      {{ languageService.getDirection() === "rtl" ? "⬅" : "➡" }}
    </button>
  </div>
</div>
