<div class="Product_Section">
  <div
    class="topProductsDiv"
    *ngFor="let category of groupedProducts | keyvalue"
  >
    <h2 class="Category_Title m-4">
      {{ "products.top" | translate }} {{ category.key }}
    </h2>
    <div class="Product_Grid p-4">
      <div *ngFor="let product of category.value" class="Product_Card">
        <div class="product-image-container">
          <img
            [src]="getProductImage(product)"
            (error)="onImageError($event, product)"
            class="Product_Image"
            alt="{{ product.name }}"
            [routerLink]="['/product', product._id]"
          />
        </div>

        <div class="Product_Details">
          <div class="Product_Info_Area">
            <h5 class="Product_Name" [routerLink]="['/product', product._id]">
              {{ product.name }}
            </h5>
            <div class="brand-price-wrapper">
              <p class="Product_Brand">{{ product.brand }}</p>
              <div class="price-container">
                <span
                  *ngIf="
                    product.sale?.isOnSale &&
                    product.price !== product.originalPrice
                  "
                  class="old-price"
                >
                  {{ product.originalPrice }}
                </span>
                <span class="sale-price" *ngIf="product.sale?.isOnSale">
                  {{ product.price }}₪
                </span>
                <span class="regular-price" *ngIf="!product.sale?.isOnSale">
                  {{ product.price }} ₪
                </span>
              </div>
            </div>
            <button
              *ngIf="isAdmin"
              class="delete mt-3"
              [ngClass]="{ Unavailable_Button: product.quantity === 0 }"
              [disabled]="product.quantity === 0"
              (click)="openDeleteDialog(product._id, product.name)"
            >
              {{ "products.delete" | translate }}
            </button>
            <button
              *ngIf="!isAdmin"
              class="View_Button"
              [ngClass]="{ Unavailable_Button: product.quantity === 0 }"
              [disabled]="product.quantity === 0"
              (click)="openQuantityDialog(product)"
            >
              {{
                product.quantity === 0
                  ? ("products.outOfStock" | translate)
                  : product.isInCart
                  ? ("products.edit" | translate)
                  : ("products.addToCart" | translate)
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
