<div class="Product_Section">
  <!-- Loop through grouped products -->
  <div
    class="topProductsDiv"
    *ngFor="let category of groupedProducts | keyvalue"
  >
    <h2 class="Category_Title m-4">TOP {{ category.key }}</h2>
    <div class="Product_Grid p-4">
      <div *ngFor="let product of category.value" class="Product_Card">
        <img
          [src]="'assets/products/' + product.image + '.jpg'"
          class="Product_Image"
          alt="{{ product.name }}"
          height="10%"
        />

        <div class="Product_Details row">
          <h3 class="Product_Name col-12">{{ product.name }}</h3>
          <p class="Product_Brand col-6">{{ product.brand }}</p>
          <p class="Product_Price col-6">{{ product.price }} ₪ </p>
          <button class="View_Button">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
